<?xml version="1.0"?>
<config>
  <modules>
    <Smilla_RicardoIntegration>
      <version>0.1.0</version>
    </Smilla_RicardoIntegration>
  </modules>
  <global>
    <helpers>
      <ricardointegration>
        <class>Smilla_RicardoIntegration_Helper</class>
      </ricardointegration>
    </helpers>
	<blocks>
        <adminhtml>
            <rewrite>
                 <catalog_product_attribute_edit_tab_options>Smilla_RicardoIntegration_Block_Adminhtml_Options</catalog_product_attribute_edit_tab_options>
             </rewrite>
         </adminhtml>
         
	  <ricardointegration>
		<class>Smilla_RicardoIntegration_Block</class>
	  </ricardointegration>
	</blocks>
	<models>
	  <ricardointegration>
		<class>Smilla_RicardoIntegration_Model</class>
		<resourceModel>ricardointegration_mysql4</resourceModel>
	  </ricardointegration>
	  <ricardointegration_mysql4>
		<class>Smilla_RicardoIntegration_Model_Mysql4</class>
		<entities>		  
			  <log>
				<table>ricardolog</table>
			  </log>
		</entities>
	  </ricardointegration_mysql4>
	   <eav_resource>
         	<rewrite>
                <attribute>Smilla_RicardoIntegration_Model_Entity_Attribute</attribute>
            </rewrite>
       </eav_resource>
	</models>
	<resources>
	  <ricardointegration_setup>
		<setup>
		  <module>Smilla_RicardoIntegration</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </ricardointegration_setup>
	  <ricardointegration_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </ricardointegration_write>
	  <ricardointegration_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </ricardointegration_read>
	  <categoryattributericardo_setup>
		<setup>
		  <module>Smilla_RicardoIntegration</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattributericardo_setup>
	  <categoryattributericardo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattributericardo_write>
	  <categoryattributericardo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattributericardo_read>
	  <salesattributericardo_setup>
		<setup>
		  <module>Smilla_RicardoIntegration</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattributericardo_setup>
	  
	  <logtablericardo_setup>
		<setup>
		  <module>Smilla_RicardoIntegration</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </logtablericardo_setup>
	  <logtablericardo_setup>
		<connection>
		  <use>core_write</use>
		</connection>
	  </logtablericardo_setup>
	  <logtablericardo_setup>
		<connection>
		  <use>core_read</use>
		</connection>
	  </logtablericardo_setup>
	  
	  <attributericardo_setup>
		<setup>
		  <module>Smilla_RicardoIntegration</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </attributericardo_setup>
	  <salesattributericardo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattributericardo_write>
	  <salesattributericardo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattributericardo_read>

	  <productattributericardo_setup>
		<setup>
		  <module>Smilla_RicardoIntegration</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </productattributericardo_setup>
	  <productattributericardo_setup>
		<connection>
		  <use>core_write</use>
		</connection>
	  </productattributericardo_setup>
	  <productattributericardo_setup>
		<connection>
		  <use>core_read</use>
		</connection>
	  </productattributericardo_setup>
	  	  
	  
	</resources>
    <events>
	  <sales_model_service_quote_submit_success> <!-- identifier of the event we want to catch -->
        <observers>
          <sales_model_service_quote_submit_success_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>ricardointegration/observer</class> <!-- observers class alias -->
            <method>salesUpdate</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </sales_model_service_quote_submit_success_handler>
        </observers>
      </sales_model_service_quote_submit_success>
    </events>
  </global>
  <admin>
	<routers>
	  <ricardointegration>
	    <use>admin</use>
		<args>
		  <module>Smilla_RicardoIntegration</module>
		  <frontName>ricardointegration</frontName>
		</args>
	  </ricardointegration>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <ricardointegration module="ricardointegration">
		<title>RicardoIntegration</title>
		<sort_order>100</sort_order>
		<children>
		  <ricardointegrationbackend module="ricardointegration">
			<title>Ricardo Integration</title>
			<sort_order>0</sort_order>
			<action>ricardointegration/adminhtml_ricardointegrationbackend</action>
		  </ricardointegrationbackend>
		  <log module="ricardointegration">
		    <title>Log</title>
			<sort_order>0</sort_order>
			<action>ricardointegration/adminhtml_log</action>
		  </log>
		</children>
	  </ricardointegration>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<ricardointegration translate="title" module="ricardointegration">
			  <title>Ricardo</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <ricardointegrationbackend translate="title">
			<title>Test</title>
		  </ricardointegrationbackend>
		  <log translate="title">
			<title>Manage Log</title>
			<sort_order>0</sort_order>
		  </log>
			  </children>
			</ricardointegration>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<ricardointegration>
		  <file>ricardointegration.xml</file>
		</ricardointegration>
	  </updates>
	</layout>
  </adminhtml>    
    <crontab>
        <jobs>            
			<ricardointegration_synccatalog>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>ricardointegration/cron::SyncCatalog</model></run>
            </ricardointegration_synccatalog>            
			<ricardointegration_syncsales>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>ricardointegration/cron::SyncSales</model></run>
            </ricardointegration_syncsales>
        </jobs>
    </crontab>
</config> 