<?xml version="1.0"?>
<config>
	  <tabs>
		<ricardo translate="label" module="ricardointegration">
            <label>Ricardo</label>
            <sort_order>100</sort_order>
        </ricardo>
	  </tabs>
	  <sections>
		<ricardosettings  translate="label" module="ricardointegration">                    
		<label>Settings</label>
		<tab>ricardo</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <general translate="label"> 
					  <label>General</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <sftphost translate="label">
                            <label>Ricardo SFTP Server</label>
							<frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </sftphost>
                          <sftpuser translate="label">
                           <label>Ricardo SFTP Username</label>
							<frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </sftpuser>
                          <sftppassword translate="label">
                             <label>Ricardo SFTP Password</label>
							<frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </sftppassword>
      
					   </fields>
					   </general>
				      <catalog translate="label"> 
					  <label>Catalog Mapping Settings</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>10</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <attributes translate="label">
                            <label>Attribute Mapping</label>
                            <comment>
				                <![CDATA[Magento Attributes mapped to Ricardo Attributes.<br>
				                	One per Line.<br>
					                Example: "manufacturer > brand"
				                ]]>
				             </comment>
							<frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </attributes>
                          <bundleattribute translate="label">
                             <label>Bundeling ID Attributecode</label>
                                                         <comment>
				                <![CDATA[
				                	Magento Attribute Code for Ricardo Bundling (EAN)
				                ]]>
				             </comment>
							<frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </bundleattribute>
					   </fields>
					   </catalog>
					</groups>
		</ricardosettings>
	  </sections>
</config>
