<config>
    <sections>
        <sobuintegration module="sobuintegration">
            <label>sobu.ch</label>
			<tab>sales</tab>
			<frontend_type>text</frontend_type>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<sort_order>100</sort_order>
			<groups>
			    <settings translate="label">
					<label>Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
                        <apikey translate="label">
                            <label>API Key</label>
                            <comment>Sobu API Key</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>
                        <testapikey translate="label">
                            <label>Test API Key</label>
                            <comment>Sobu Test API Key</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </testapikey>
                        <testmode translate="label">
                            <label>Testmode?</label>
                            <comment>Run in Testmode?</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </testmode>
 				       <generatekey translate="label">
				           <label>Generate Key</label>
				           <frontend_type>button</frontend_type>
				           <frontend_model>sobuintegration/generatebutton</frontend_model>
				           <sort_order>40</sort_order>
				           <show_in_default>1</show_in_default>
				           <show_in_website>1</show_in_website>
				           <show_in_store>1</show_in_store>
				       </generatekey>
				       <publickey translate="label">
                            <label>Public Key</label>
                            <comment>Bitte kopieren Sie diesen Link nach der Generierung in Ihr Sobu-Portal</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </publickey>
				       <privatekey translate="label">
                            <label></label>
                            <frontend_type>hidden</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </privatekey>

					</fields>
				</settings>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <apikey translate="label">
                            <label>API key </label>
                            <comment>sobu API Key</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>
                        <testapikey translate="label">
                            <label>Test API key</label>
                            <comment>sobu Test API Key</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </testapikey>
                        <testmode translate="label">
                            <label>Testmode?</label>
                            <comment>Run in Testmode?</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </testmode>
                        <generatekey translate="label">
                            <label>Generate Key</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>sobuintegration/generatebutton</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </generatekey>
                        <publickey translate="label">
                            <label>Public Key</label>
                            <comment>Bitte kopieren Sie diesen Link nach der Generierung in Ihr sobu-Portal</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </publickey>
                        <voucheramount translate="label">
                            <label>Gutscheinwert</label>
                            <comment>Gutscheinwert für geworbene Kunden (Bsp.: 5% oder 5 CHF)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </voucheramount>
                        <provision translate="label">
                            <label>Provision (%)</label>
                            <comment>In sobu hinterlegte Provision für geworbene Käufe</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </provision>
                        <promotion_redirect translate="label">
                            <label>Promotion Redirect Target (optional)</label>
                            <comment>Redirect incoming Sobu Links to this Page. Example: product-123.html</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </promotion_redirect>
                        <privatekey translate="label">
                            <label></label>
                            <frontend_type>hidden</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </privatekey>

                    </fields>
                </settings>
			</groups>
        </sobuintegration>
    </sections>
</config>
